html,
body {
  height: 100%;
  width: 100%;
}
.theme-light {
  --color-primary: #00df0b;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --card-bg:hsl(227, 47%, 96%);
  --text-white: hsl(230, 17%, 14%);
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: hsl(230, 17%, 14%);
  --color-accent: #12cdea;
  --card-bg:hsl(228, 28%, 20%);
  --font-color: #ffffff;
  --text-white: hsl(0, 0%, 100%);
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

body{
  background: var(--color-secondary);
}

h1{
  color: var(--font-color);
}

h2{
  color: var(--font-color);
}

h4{
  color: var(--font-color);
}

.wina{
  background:var(--card-bg);
  span{
    color: var(--text-white);
  }
}

.miniyuti{
  background:var(--card-bg);
  .numbers{    
    .qveda{
      color: var(--text-white);
    }
  }
}




.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, hsl(210, 78%, 56%) ,  hsl(146, 68%, 55%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: hsl(232, 19%, 15%);
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #f32144;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f32121;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white;
    background-repeat: no-repeat;
    background-position: center;
  }

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}