*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size:14px;
}

main{
    display:grid;
    padding:3vh;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "social"
    "overview";
    p{
        color:hsl(228, 34%, 66%);
    }
}

/* ზედა ზოლი */

#zoli{
    grid-area:social;
    display: flex;
}


#media{
    display: flex;
    justify-content: space-between;
    .container{
        justify-content: flex-end;
        align-items: center;
    }
    label{
        margin-left: 2vh;
    }
    hr{
        display:none;
    }
}

.yuti1{
    width:36vh;
    height:30vh;
    background-color: hsl(208, 92%, 53%);
    border-radius:1.2vh;
    padding-top:1.2vh;
    margin: 1.5vh;
}

.yuti2{
    width:36vh;
    height:30vh;
    background-color: hsl(203, 89%, 53);
    border-radius:1.2vh;
    padding-top:1.2vh;
    margin: 1.5vh;
}

.yuti3{
    width:36vh;
    height:30vh;
    background-image: linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
    border-radius:1.2vh;
    padding-top:1.2vh;
    margin: 1.5vh;
}

.yuti4{
    width:36vh;
    height:30vh;
    background-color: hsl(348, 97%, 39%);
    border-radius:1.2vh;
    padding-top:1.2vh;
    margin: 1.5vh;
    .wina{
        .footer{
           p{
            color:hsl(356, 69%, 56%);
           }
        } 
    }   
}

.wina {
    width:36vh;
    height:29vh;
    background-color:hsl(228, 28%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border-radius:0 0 1.2vh 1.2vh;
    text-align: center;
    .header{
        display: flex;
        align-items: center;
        p{
            color:hsl(228, 34%, 66%);
            letter-spacing: 0px;
        }
        img{
            margin: 1.2vh;
        }
    }
    p{
        letter-spacing: 3px;
    }
    span{
        color:hsl(0, 0%, 100%);
        font-size: 3.2em;
        font-weight: bold;
    }
    .footer{
        display: flex;
        align-items: center;
        p{
            margin: 0.7vh;
            color:hsl(163, 72%, 41%);
            letter-spacing: 0px;
        }
    }
}

.wina:hover {
    opacity: 0.9;
}


/* ქვედა ზოლი */

.miniyuti{
    margin:1.5vh;
    width:36vh;
    height:17vh;
    background-color:hsl(228, 28%, 20%);
    border-radius:1.2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icons{
        .arrow{
            display: flex;
            align-items: center;
            margin-top: 4vh;
            img{
                margin-right: 0vh;
            }
        }
    }
    .numbers{
        display:flex;
        flex-direction: column;
        .qveda{
            margin-top: 2.6vh;
            color:white;
            font-size:33px;
            font-weight: bold;
        }
    }
    .green{
        color:hsl(163, 72%, 41%);
    }
    .red{
        color:hsl(356, 69%, 56%);
    }
}

.miniyuti:hover {
    opacity: 0.8;
}


#overview{
    display:grid;    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "overview"
    "qvedaqveda";
}

#qvedazoli{
    grid-area:overview;
    display: flex;
    flex-wrap: wrap;
}

#qvedaqveda{
    grid-area:qvedaqveda;
    display: flex;
    flex-wrap: wrap;
}

#today{
    margin:1.5vh 0;
}